# PyTorch avec CUDA 11.8
torch --index-url https://download.pytorch.org/whl/cu118
torchvision --index-url https://download.pytorch.org/whl/cu118
torchaudio --index-url https://download.pytorch.org/whl/cu118

# Transformers & Tokenization
tiktoken

# Gestion des datasets & prétraitement
numpy>=1.23.0

# Entraînement et monitoring
matplotlib>=3.6.0

# Interface pour tester le modèle
chainlit>=1.2.0